
<% provide(:title, "Iniciar Sesión") %>

<section class="session"> 
	<div>

		<h2 >Iniciar Sesión</h2>

	    <%= form_for(:session, url: login_path) do |f| %>

	      <%= f.label :cCodUsuario, "Cod.Usuario" %>
	      <%= f.text_field :cCodUsuario %>
		  <br>
	      <%= f.label :password %>
	      <%= f.password_field :password %>
	      <br>
	      <%= f.submit "Iniciar Sesión" %>
	    <% end %>
	</div>
</section>