<%= form_for(@t_usuario) do |f| %>
  <% if @t_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_usuario.errors.count, "error") %> prohibited this t_usuario from being saved:</h2>

      <ul>
      <% @t_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= f.label :cCodUsuario, "Cod.Usuario" %>
    <%= f.text_field :cCodUsuario %>
    
    <%= f.label :bActivo, "Activo" %>
    <%= f.select(:bActivo, options_for_select([["Sí",true], ["No", false]])) %><br/>

    <%= f.label :cNombre, "Nombre Usuario" %>
    <%= f.text_field :cNombre %>

    <%= f.label :cCorreo, "Correo" %>
    <%= f.email_field :cCorreo %><br/>

    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmación" %>
    <%= f.password_field :password_confirmation %><br/>

  </div>
  <div class="actions">
  <%= f.submit "Crear Usuario"%> 
  </div>

<% end %>

