<%= form_for(@t_usuario) do |f| %>
  <% if @t_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_usuario.errors.count, "error") %> prohibited this t_usuario from being saved:</h2>

      <ul>
      <% @t_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%=@t_usuario.cCodUsuario %></h1>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
