<div class="row"> 
  <h1 class=" small-6  medium-4 large-3 text-center columns padding-top padding-bottom">Usuarios</h1>
</div>

<form class="padding-bottom padding-left padding-right">

  <div class="row">

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Código</label>
    </div>

    <div class="small-10 medium-3 large-3 columns">
      <%= text_field_tag(:cCodUsuario) %>
    </div>
  
    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Nombre</label>
    </div>

    <div class="small-10 medium-7 large-7 columns">      
      <%= text_field_tag(:cNombre) %>
    </div>

  </div>


  <div class="row margin-bottom">

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Activo</label>
    </div>

    <div class="small-10 medium-3 large-3 columns">      
      <%= select_tag(:bActivo, options_for_select([["",nil], ["Sí",true], ["No", false]])) %>
    </div>

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Correo</label>
    </div>

    <div class="small-10 medium-7 large-7 columns">
      <%= text_field_tag(:cCorreo) %>
    </div>

  </div>

  <%= submit_tag "Buscar" , class:"margin-bottom  success button" %> 
 
</form>


<%= paginate(@t_usuarios) %>

<section class="margin-top margin-bottom padding-left padding-right">

  <div class="row color-cabecera margin-bottom">

    <div class="small-3 medium-1 large-1 columns ">    
      <label for="middle-label">Codigo</label>
    </div>

    <div class="small-8 medium-4 large-4 columns">      
      <label for="middle-label">Nombre</label>
    </div>

    <div class="hide-for-small-only medium-4 large-4 columns">
      <label for="middle-label">Correo</label>
    </div>

    <div class="hide-for-small-only medium-2 large-2 columns">
      <label for="middle-label">Estado</label>      
    </div>

    <div class="small-1 medium-1 large-1 columns">   
      <label for="middle-label">Ver</label>        
    </div>

  </div>

  <% @t_usuarios.each do |t_usuario| %>
    
    <div class="row">

      <div class="small-3 medium-1 large-1 columns ">
        <p class="text-left "><%= t_usuario.cCodUsuario %></p>
      </div>

      <div class="small-8 medium-4 large-4 columns">
        <p class="text-left "><%= t_usuario.cNombre %></p>
      </div>

      <div class="hide-for-small-only medium-4 large-4 columns">
        <p class="text-left "><%= t_usuario.cCorreo %></p>
      </div>

      <div class="hide-for-small-only medium-2 large-2 columns">
        <p class="text-left "><%= t_usuario.bActivo %></p>
      </div>

      <div class="small-1 medium-1 large-1 columns">
        <%= link_to image_tag('lupa.png', :border=>0), t_usuario %>     
      </div>

      <!--        <td><%= link_to 'Editar', edit_t_usuario_path(t_usuario) %></td>-->
    </div>

  <% end %>
    
</section>

<%= paginate(@t_usuarios) %>