<div class="row"> 
  <h1 class=" small-6  medium-4 large-3 small-centered medium-centered text-center columns padding-top padding-bottom">Usuarios</h1>
</div>

<form>

  <div class="row">

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Código</label>
    </div>

    <div class="small-10 medium-3 large-3 columns">
      <%= text_field_tag(:cCodUsuario) %>
    </div>
  
    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Nombre</label>
    </div>

    <div class="small-10 medium-7 large-7 columns">      
      <%= text_field_tag(:cNombre) %>
    </div>

  </div>


  <div class="row">

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Activo</label>
    </div>

    <div class="small-10 medium-3 large-3 columns">      
      <%= select_tag(:bActivo, options_for_select([["",nil], ["Sí",true], ["No", false]])) %>
    </div>

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Correo</label>
    </div>

    <div class="small-10 medium-7 large-7 columns">
      <%= text_field_tag(:cCorreo) %>
    </div>

  </div>

  <%= submit_tag "Buscar" , class:"margin-top margin-bottom float-center " %> 
 
</form>


<%= paginate(@t_usuarios) %>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th><strong>Cod.Usuario</strong></th>
          <th><strong>Nombre</strong></th>
          <th><strong>Correo</strong></th>
          <th><strong>Estado</strong></th>

          <th><strong></strong></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @t_usuarios.each do |t_usuario| %>
          <tr>
            <td><%= t_usuario.cCodUsuario %></td>
            <td><%= t_usuario.cNombre %></td>
            <td><%= t_usuario.cCorreo %></td>
            <td><%= t_usuario.bActivo %></td>

            <td><%= link_to 'Ver', t_usuario %></td>
    <!--        <td><%= link_to 'Editar', edit_t_usuario_path(t_usuario) %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate(@t_usuarios) %>
  </div>

