<div class="row"> 
  <h3 class="columns">Usuarios</h3>
</div>

<%= search_form_for @q do |f| %>

  <div class="row">

    <div class="small-2 medium-1 large-1 columns">
      <%= f.label :cCodUsuario_cont, 'Código', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-10 medium-3 large-3 columns">      
      <%= f.search_field :cCodUsuario_cont %>
    </div>

    <div class="small-2 medium-1 large-1 columns">      
      <%= f.label :cNombre_cont, 'Nombre', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-10 medium-7 large-7 columns">            
      <%= f.search_field :cNombre_cont %>
    </div>

  </div>
  <div class="row margin-bottom">

    <div class="small-2 medium-1 large-1 columns">
      <label for="middle-label" class="text-right ">Activo</label>
    </div>

    <div class="small-10 medium-3 large-3 columns">      
      <%= select_tag(:bActivo_eq, options_for_select([["",nil], ["Sí",true], ["No", false]])) %>
    </div>

    <div class="small-2 medium-1 large-1 columns">      
       <%= f.label :cCorreo_eq, 'Correo', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-10 medium-7 large-7 columns">      
      <%= f.search_field :cCorreo_eq %>
    </div>

  </div>
  <div class="row">
      <%= f.submit :class => "success button" %>
      <%= link_to "Limpiar", request.path, :class => "success button" %>
  </div>

<% end %>

<div class="row">
  <ul class="paginate">
  <%= paginate(@t_usuarios) %>
  </ul>
</div>
<div class="row">
<%= page_entries_info @t_usuarios, :entry_name => 'usuarios' %><br/><br/>
</div>

<table class="table-scroll">
  <thead>
    <tr>
      <th><%= sort_link(@q, :cCodUsuario, 'Código') %></th>
      <th><%= sort_link(@q, :cNombre, 'Nombre') %></th>
      <th><%= sort_link(@q, :cCorreo, 'Correo') %></th>
      <th><%= sort_link(@q, :bActivo, 'Activo') %></th>
      <% if can? :read, TUsuario %>
      <th>Ver</th>
      <% end %>
      <% if can? :cru, TUsuario %>
      <th>Editar</th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @t_usuarios.each do |t| %>
      <tr>
        <td><%= t.cCodUsuario %></td>
        <td><%= t.cNombre %></td>
        <td><%= t.cCorreo %></td>
        <td><%= t.bActivo %></td>                
        <% if can? :read, TUsuario %>
        <td><%= link_to image_tag('ver.png', :border=>0, :alt=>"Ver"), t %> </td>
        <% end %>
        <% if can? :cru, TUsuario %>
        <td><%= link_to image_tag('editar.png', :border=>0, :alt=>"Editar"), edit_t_usuario_path(t) %> </td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
<%= page_entries_info @t_usuarios, :entry_name => 'usuarios' %><br/><br/>
</div>

<div class="row">
  <ul class="paginate">
  <%= paginate(@t_usuarios) %>
  </ul>
</div>
