<p id="notice"><%= notice %></p>
<section> 
<%= link_to 'Back', t_usuarios_path %>
<div class="container">

	Código: <%= @t_usuario.cCodUsuario %>
	Nombre: <%= @t_usuario.cNombre %>
	Correo: <%= @t_usuario.cCorreo %>
	Activo: <%= @t_usuario.bActivo %>

	<div class="dtable">
		<div class="drow">
			<div class="dfield">Programa</div><div class="dfield">Permiso</div>
		</div>
		<% @t_usuario.TUsuariosPrograma.each do |t| %>
		<div class="drow">
			<div class="dfield"><%= t.TPrograma.sPrograma %></div>
			<div class="dfield"><%= t.sPermiso %></div>
		</div>
		<% end %>
	</div>

	
<!-- <%= link_to 'Edit', edit_t_usuario_path(@t_usuario) %> | -->

</div>
<%= link_to 'Back', t_usuarios_path %>
</section>