<p id="notice"><%= notice %></p>
<section> 
<div class="container">

			Código: <%= @t_usuario.cCodUsuario %>
			Nombre: <%= @t_usuario.cNombre %>
			Correo: <%= @t_usuario.cCorreo %>

			Activo: <%= @t_usuario.bActivo %>
<!-- <%= link_to 'Edit', edit_t_usuario_path(@t_usuario) %> | -->

</div>
<%= link_to 'Back', t_usuarios_path %>
</section>