<%= form_for(@componente) do |f| %>

    <div class="row"> 
        <div class="small-12 medium-6 large-6 columns">
            <h3><%=t(titulo)%></h3>
        </div>    
        <!--GESTION DE BOTONES -->    
        <div class="small-12 medium-6 large-6 columns text-right">
            <%= link_to t('form_for.return'), link_return, :class => "button small" %>        
            <% if @readonly %>
                <%= link_to t('form_for.edit'), edit_componente_path(@componente), :class => "button small" %>        
            <% else %>    
                <%= f.submit t('form_for.save'), :class => "button small" %>     
            <% end %>    
        </div>       
    </div>

    <% if @componente.errors.any? %>  
        <div class="panel warning callout radius">      
            <strong><%= t('activerecord.errors.template.header', :model => Componente.model_name.human, :count => @componente.errors.count) %></strong>
            <ul>
            <% @componente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %> 

    <div class="row">
        <%= f.fields_for :catalogo, @componente.catalogo do |fc| %>        
            <div class="small-12 medium-3 large-3 columns">
                <%= fc.label :cFabricante %>
                <%= fc.select :cFabricante, content_tag(:option,'',:value=>"")+options_from_collection_for_select(
                            Catalogo.marca, "cFabricante", "cFabricante", @componente.catalogo.cFabricante), {}, {:disabled => @readonly} %>
            </div>    
            <div class="small-12 medium-3 large-3 columns">
                <%= fc.label :cModelo %>
                <%= fc.select :cModelo, content_tag(:option,'',:value=>"")+options_from_collection_for_select(
                            Catalogo.modelo, "cModelo", "cModelo", @componente.catalogo.cModelo), {}, {:disabled => @readonly} %>
            </div>
            <div class="small-12 medium-3 large-3 columns">
                <%= fc.label :nBocasRed %>
                <%= fc.text_field :nBocasRed, readonly: true %> 
            </div>          
        <% end %>  
        <%= f.fields_for :catalogo, @componente.catalogo.super_tipo_componente do |fcs| %>        
            <div class="small-12 medium-3 large-3 columns">
                <%= fcs.label :cDescripcion, t('componente.tipo') %>
                <% if @componente.catalogo.super_tipo_componente.nil? %>
                    <%= fcs.select :cDescripcion, content_tag(:option,'',:value=>"")+options_from_collection_for_select(
                        SuperTipoComponente.all, "cDescripcion", "cDescripcion", ''), {}, {:disabled => true} %>                        
                <% else %>
                    <%= fcs.select :cDescripcion, content_tag(:option,'',:value=>"")+options_from_collection_for_select(
                        SuperTipoComponente.all, "cDescripcion", "cDescripcion", @componente.catalogo.super_tipo_componente.cDescripcion), {}, {:disabled => true} %>        
                <% end %>    
            </div>    
        <% end %>         
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :nCodUbicacion %>
            <%= f.select :nCodUbicacion, content_tag(:option,'',:value=>"")+options_from_collection_for_select(
                        TipoUbicacion.inventario, :id, :cDescripcion, @componente.nCodUbicacion), {}, {:disabled => @readonly} %>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :cPrefijoMAC %>
            <%= f.text_field :cPrefijoMAC, readonly: @readonly %> 
        </div>    
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :cSerie %>
            <%= f.text_field :cSerie, readonly: @readonly %> 
        </div>    
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :cExpediente %>
            <%= f.text_field :cExpediente, readonly: @readonly %> 
        </div>    
    </div>            
    <div class="row">
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :cBien %>
            <%= f.text_field :cBien, readonly: @readonly %> 
        </div>          
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :bUsado %>
            <%= f.select :bUsado, options_for_select([['Si', true], ['No', false]], @componente.bUsado), 
                            {}, {:disabled => @readonly} %><br>                            
        </div>                                                                                         
        <div class="small-12 medium-6 large-6 columns">    
            <%= f.label :cObservaciones %>                        
            <%= f.text_area(:cObservaciones, rows: 2, readonly: @readonly)%>
        </div>        
    </div>                        
    <div class="row">
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :dFchEntrada %>
            <%= f.date_field :dFchEntrada, :value => @componente.dFchEntrada.nil? ? nil : localize(@componente.dFchEntrada), readonly: @readonly  %>                        
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :dFchSalida %>
            <%= f.date_field :dFchSalida, :value => @componente.dFchSalida.nil? ? nil : localize(@componente.dFchSalida), readonly: @readonly %>            
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :dFchFinMantenimiento %>
            <%= f.date_field :dFchFinMantenimiento, :value => @componente.dFchFinMantenimiento.nil? ? nil : localize(@componente.dFchFinMantenimiento) , readonly: @readonly %>            
        </div>    
        <div class="small-12 medium-3 large-3 columns">
            <%= f.label :dFchFinGarantia %>
            <%= f.date_field :dFchFinGarantia, :value => @componente.dFchFinGarantia.nil? ? nil : localize(@componente.dFchFinGarantia), readonly: @readonly  %>                        
        </div>       
    </div>                            
<% end %>    
