<%= form_for @t_sede do |f| %>

  <% if @t_sede.errors.any? %>  
    <div class="panel warning callout radius">      
      <strong><%= t('activerecord.errors.template.header', :model => TSede.model_name.human, :count => @t_sede.errors.count) %></strong>
      <ul>
      <% @t_sede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Código:</label>
      </div>

      <div class="small-8 medium-4 large-2 columns">            
        <%= f.text_field :nCodSede %>
      </div>

      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Cabecera:</label>
      </div>

      <div class="small-8 medium-4 large-1 columns">              
          <% if  @t_sede.nCodCampus.nil?  %>
              <%= f.select :nCodCampus, options_for_select([["",0],["SÍ",1], ["NO", 2]], 0) %>
          <% else %>
              <% if  @t_sede.nCodCampus == @t_sede.nCodSede  %>
                  <%= f.select :nCodCampus, options_for_select([["",0],["SÍ",1], ["NO", 2]], 1) %>
              <% else %>
                  <%= f.select :nCodCampus,  options_for_select([["",0],["SÍ",1], ["NO", 2]], 2) %>
              <% end %>
          <% end %>
      </div>

      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Criticidad:</label>
      </div>

      <div class="small-8 medium-4 large-2 columns">
        <%= f.select :nCriticidad, options_for_select([["",nil],["Normal",0], ["Urgente", 1], ["Crítico", 2]], @t_sede.nCriticidad) %>
      </div>  

      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Estado:</label>
      </div>

      <div class="small-8 medium-4 large-3 columns end">      
        <%= f.select :nCodEstado, content_tag(:option,"",:value=>"")+options_from_collection_for_select(TEstadosSede.all, "nCodEstado", "cDescripcion", @t_sede.nCodEstado) %>        
      </div>
   </div>

   <div class="row">   
      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Nombre:</label>
      </div>

      <div class="small-8 medium-4 large-7 columns end">     
        <%= f.text_field :cNombre, required: "required" %>
      </div>

      <div class="small-4 medium-2 large-1 columns">
        <label for="middle-label">Distrito:</label>
      </div>

      <div class="small-8 medium-4 large-3 columns end">
              <%= f.select  :nDistrito, content_tag(:option,'',:value=>nil)+options_from_collection_for_select(TDistrito.all, "nDistrito", "cDistrito", @t_sede.nDistrito  ) %>
      </div>
  </div>

  <div class="row">
      <div class="small-4  medium-2 large-1 columns">
          <label for="middle-label">Dirección:</label>
       </div>

       <div class="small-8  medium-4 large-7 columns">              
          <%= f.text_field :cDireccion %>
       </div>
  
      <div class="small-4  medium-2 large-1 columns">
          <label for="middle-label">Cód.Postal:</label>
       </div>

       <div class="small-8  medium-4 large-3 columns">              
          <%= f.text_field :cCodPostal %>
       </div>
  </div>

  <div class="row">
       <div class="small-4  medium-2 large-1 columns">
         <label for="middle-label">DevicePool:</label>
       </div>

       <div class="small-8  medium-4 large-4 columns">          
        <%= f.select :cDevicePool, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TDevicePool.all, "cDevicePool", "cDevicePool", @t_sede.cDevicePool) %>

       </div>

       <div class="small-4  medium-2 large-1 columns">
          <label for="middle-label">Acrónimo:</label>
       </div>

       <div class="small-8  medium-4 large-2 columns">
          <% if  !@t_sede.nIdAcronimo.nil?  %>
              <%= select_tag( :nIdAcronimo, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TAcronimosSedeEdr.all, "nId", "cCodigo", @t_sede.nIdAcronimo)) %>
          <% else %>
              <%= select_tag( :nIdAcronimo, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TAcronimosSedeEdr.all, "nId", "cCodigo")) %>
          <% end %>
       </div>

       <div class="small-4  medium-2 large-1 columns">
         <label for="middle-label">Gestión:</label>
       </div>

       <div class="small-8  medium-4 large-3 columns end">

          <% if  @t_sede.nCodGestion.nil?  %>
              <%= f.select :nCodGestion, options_for_select([["Municipal",0],["Privada",1], ["Mixta", 2], ["Otras Administ", 3]], 0) %>
          <% else %>
              <%= f.select :nCodGestion, options_for_select([["Municipal",0],["Privada",1], ["Mixta", 2], ["Otras Administ", 3]], @t_sede.nCodGestion) %>
          <% end %>

       </div>
  </div>

  <div class="row margin-bottom">
       <div class="small-4  medium-2 large-1 columns">
         <label for="middle-label">Grupo:</label>
       </div>

       <div class="small-8  medium-4 large-4 columns">

          <% if  !@t_sede.nZona.nil?  %>
              <%= select_tag( :nZona, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TZona.all, "nCodZona", "cGrupo", @t_sede.nZona)) %>
          <% else %>
              <%= select_tag( :nZona, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TZona.all, "nCodZona", "cGrupo")) %>
          <% end %>
       </div>

       <div class="small-4  medium-2 large-1 columns">
          <label for="middle-label">Zona:</label>
       </div>

       <div class="small-8  medium-4 large-2 columns">

          <% if  !@t_sede.nZona.nil?  %>
              <%= select_tag( :nZona, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TZona.all, "nCodZona", "cZona", @t_sede.nZona)) %>
          <% else %>
              <%= select_tag( :nZona, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TZona.all, "nCodZona", "cZona")) %>
          <% end %>
       </div>

       <div class="small-4  medium-2 large-1 columns">
         <label for="middle-label">ToIp:</label>
       </div>

       <div class="small-8  medium-4 large-3 columns end">   
           
          <% if  @t_sede.bSedeToIP.nil?  %>
              <%= select_tag(:nCodCampus, options_for_select([["",0],["SÍ",1], ["NO", 2]], 0)) %>
          <% else %>
              <% if @t_sede.bSedeToIP==true %>
                  <%= select_tag(:nCodCampus, options_for_select([["",0],["SÍ",1], ["NO", 2]], 1)) %>
              <% else %>
                  <%= select_tag(:nCodCampus,  options_for_select([["",0],["SÍ",1], ["NO", 2]], 2)) %>
              <% end %>
          <% end %>

       </div>
  </div>

  <!-- BOTONES -->
  <div class="row clearfix">
      <%= link_to '<< Volver', t_sedes_path, :class => "button float-right" %>        
      <% if can? :read, TSede %>                     
        <%= f.submit 'Guardar', class: 'button alert float-right' %>
      <% end %>      
  </div>
<% end %>