<p id="notice"><%= notice %></p>

<h1>Sedes</h1>

<%= search_form_for @q do |f| %>

  <div id="dvbuscon">  <%= f.label :buscon_cont, 'Buscar' %>
          <%= f.search_field :buscon_cont %>
  </div>
  <div id="dvqsede">
    <%= f.label :nCodSede_eq, 'Cód.Sede' %>
    <%= f.search_field :nCodSede_eq %>

    <%= f.label :nCodEstado_eq, 'Estado' %>
    <!-- # Combo Estado -->
    <% if  !params[:q].nil?  %>
    <%= f.select :nCodEstado_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TEstadosSede.all, "nCodEstado", "cDescripcion", params[:q][:nCodEstado_eq]) %>

    <% else %>
      <%= f.select :nCodEstado_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TEstadosSede.all, "nCodEstado", "cDescripcion") %>
    <% end %>
  </div>
  <div id="dvqsede">  
    <%= f.label :cNombre_cont, 'Nombre' %>
    <%= f.search_field :cNombre_cont %>

    <%= f.label :cDireccion_cont, 'Dirección' %>
    <%= f.search_field :cDireccion_cont %>

    <%= f.label :cCodPostal_eq, 'Cód.Postal' %>
    <%= f.search_field :cCodPostal_eq %>
  </div>
  <div id="dvqsede">
    
    <%= f.label :cDevicePool_cont, 'Device Pool' %>
    <%= f.search_field :cDevicePool_cont %>

    <!-- # Combo Acronimo -->
    <%= f.label :nIdAcronimo_eq, 'AcrónimoEDR' %>
    <% if  !params[:q].nil?  %>
      <%= f.select :nIdAcronimo_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TAcronimosSedeEdr.all, "nId", "cCodigo", params[:q][:nIdAcronimo_eq])%>
    <% else %>
      <%= f.select :nIdAcronimo_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TAcronimosSedeEdr.all, "nId", "cCodigo")%>
    <% end %>
    <!-- # Combo Tipo Gestión -->
    <%= f.label :nCodGestion_eq, 'Gestión' %>
    <% if  !params[:q].nil?  %>
      <%= f.select :nCodGestion_eq, options_for_select([["",nil], ["Municipal",0], ["Mixta", 2], ["Privada", 1]], params[:q][:nCodGestion_eq]) %><br>
    <% else %>
      <%= f.select :nCodGestion_eq, options_for_select([["",nil], ["Municipal",0], ["Mixta", 2], ["Privada", 1]]) %><br>
    <% end %>
  </div>

  <div id="dvqunidad">
  <%= f.label :nCodUni_cont, 'Cód.Unidad' %>
  <%= f.search_field :nCodUni_eq %>  

  <%= f.label :TUnidad_cDenominacion_cont, 'Unidad' %>
  <%= f.search_field :TUnidad_cDenominacion_cont %>  
  </div>  

  <div id="dvbtbuscar">
  <%= f.submit :class => "btn_border" %>
  <%= link_to "Limpiar", request.path, :class => "btn_border" %>
  </div>

<% end %>
<br/><br/>

<%= paginate(@t_sedes) %><br/><br/>
<%= page_entries_info @t_sedes, :entry_name => 'sedes' %><br/><br/>

<div style="overflow-x:auto;">
<table>
  <thead>
    <tr>
    <th><strong><%= sort_link(@q, :nCodSede, 'Cód.Sede') %></strong></th>
    <th><strong><%= sort_link(@q, :cNombre, 'Sede') %></strong></th>
    <th><strong><%= sort_link(@q, :cDireccion, 'Dirección') %></strong></th>
    <th><strong><%= sort_link(@q, :nCodUni, 'Cód.Unidad') %></strong></th>
    <th><strong><%= sort_link(@q, :TUnidad_cDenominacion, 'Unidad') %></strong></th>
    
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @t_sedes.each do |t_sede| %>
      <tr>
        <td><%= t_sede.nCodSede %></td>
        <td><%= t_sede.cNombre %></td>
        <td><%= t_sede.cDireccion %></td>
        <td><%= t_sede.nCodUni %></td>
        <td><%= t_sede.TUnidad.cDenominacion rescue nil %></td>
        
        <td><%= link_to 'Ver', t_sede %></td>        

        <!-- <td><%= link_to 'Editar', edit_t_sede_path(t_sede) %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br/>
<%= page_entries_info @t_sedes, :entry_name => 'sedes' %><br/>

<%= paginate(@t_sedes) %>
