<p id="notice"><%= notice %></p>

<h1>Sedes</h1>

<%= form_tag("/t_sedes", method: "get") do %>
  
  <%= label_tag(:nCodSede, "Código:") %>
  <%= text_field_tag(:nCodSede) %>
  
  <%= label_tag(:cNombre, "Nombre:") %>
  <%= text_field_tag(:cNombre) %>

  <%= label_tag(:cDireccion, "Dirección:") %>
  <%= text_field_tag(:cDireccion) %>

  <%= submit_tag("Buscar") %>
<% end %>

<%= paginate(@t_sedes) %><br/>
<%= page_entries_info @t_sedes, :entry_name => 'sedes' %><br/><br/>

<table>
  <thead>
    <tr>
    <th><strong><%= sort_link(@q, :nCodSede, 'Código', default_order: :desc) %></strong></th>
    <th><strong><%= sort_link(@q, :cNombre, 'Sede', default_order: :desc) %></strong></th>
    <th><strong><%= sort_link(@q, :cDireccion, 'Dirección', default_order: :desc) %></strong></th>
    <th><strong><%= sort_link(@q, :nCodUni, 'Cód.Unidad', default_order: :desc) %></strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @t_sedes.each do |t_sede| %>
      <tr>
        <td><%= t_sede.nCodSede %></td>
        <td><%= t_sede.cNombre %></td>
        <td><%= t_sede.cDireccion %></td>
        <td><%= t_sede.nCodUni %></td>
        
        <td><%= link_to 'Ver', t_sede %></td>
        <!-- <td><%= link_to 'Editar', edit_t_sede_path(t_sede) %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= page_entries_info @t_sedes, :entry_name => 'sedes' %><br/>

<%= paginate(@t_sedes) %>