<div class="row"> 
    <h3 class="large-1 columns">Sedes</h3>
    <%= link_to "Nueva Sede", request.path, :class => "button small small-2 medium-2 large-2 text-right columns"%>                       
</div>

  <%= search_form_for @q do |f| %>


      <div class="row">

        <div class="small-3 medium-2 large-1 columns text-right">      
          <%= f.label :nCodSede_eq, 'Código', for: "right-label", class: "text-right" %>
        </div>

        <div class="small-9 medium-3 large-2 columns">
          <%= f.search_field :nCodSede_eq %>
        </div>
      
        <div class="small-3 medium-2 large-1 columns">      
          <%= f.label :nCodEstado_eq, 'Estado', for: "middle-label", class: "text-right" %>
        </div>

        <div class="small-9 medium-5 large-3 columns">      
          <!-- # Combo Estado -->
          <% if  !params[:q].nil?  %>
          <%= f.select :nCodEstado_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TEstadosSede.all, "nCodEstado", "cDescripcion", params[:q][:nCodEstado_eq]) %>

          <% else %>
            <%= f.select :nCodEstado_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TEstadosSede.all, "nCodEstado", "cDescripcion") %>
          <% end %>
        </div>

        <div class="small-3 medium-2 large-1 columns">      
          <%= f.label :t_sede_cont, 'Buscar', for: "middle-label", class: "text-right" %>
        </div>

        <div class="small-9  medium-10 large-4 columns">
          <%= f.search_field :t_sede_cont %>
        </div>

      </div>
              
      <div class="row">

        <div class="small-3 medium-2 large-1 columns">      
          <%= f.label :cNombre_cont, 'Nombre', for: "middle-label", class: "text-right" %>
        </div>

        <div class="small-9 medium-10  large-11 columns">
          <%= f.search_field :cNombre_cont %>
        </div>

      </div>
              
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">      
          <%= f.label :cDireccion_cont, 'Dirección', for: "middle-label", class: "text-right" %>
        </div>

        <div class="small-9 medium-10 large-11 columns">
          <%= f.search_field :cDireccion_cont %>
        </div>

    </div>  

    <div class="row">

      <div class="small-3 medium-2 large-1 columns">      
        <%= f.label :cDevicePool_cont, 'DevicePool', for: "middle-label", class: "text-right" %>
      </div>

      <div class="small-9 medium-10 large-5 columns">      

        <% if  !params[:q].nil?  %>
            <%= f.select :cDevicePool_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TDevicePool.all, "cDevicePool", "cDevicePool", params[:q][:cDevicePool_eq]) %>
        <% else %>
            <%= f.select  :cDevicePool_eq, content_tag(:option,'',:value=>"")+options_from_collection_for_select(TDevicePool.all, "cDevicePool", "cDevicePool") %>
        <% end %>

      </div>

      <div class="small-3 medium-2 large-1 columns">      
        <%= f.label :nCodGestion_eq, 'Gestión', for: "middle-label", class: "text-right" %>
      </div>

      <div class="small-9 medium-10 large-5 columns end">
        <!-- # Combo Tipo Gestión -->    
        <% if  !params[:q].nil?  %>
          <%= f.select :nCodGestion_eq, options_for_select([["",nil], ["Municipal",0], ["Mixta", 2], ["Privada", 1]], params[:q][:nCodGestion_eq]) %><br>
        <% else %>
          <%= f.select :nCodGestion_eq, options_for_select([["",nil], ["Municipal",0], ["Mixta", 2], ["Privada", 1]]) %><br>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 medium-2 large-1 columns">      
        <%= f.label :nCodUni_eq, 'Cód.Unidad', class: "text-right" %>
      </div>

      <div class="small-9 medium-3 large-2 columns">
        <%= f.search_field :nCodUni_eq %>  
      </div>

      <div class="small-3 medium-2 large-1 columns">
        <%= f.label :unidad_cDenominacion_cont, 'Unidad', for: "middle-label", class: "text-right" %>
      </div>

      <div class="small-9 medium-5 large-8 columns">
        <%= f.search_field :unidad_cDenominacion_cont %> 
      </div>
    </div>

    <div class="row clearfix" >                 
      <%= submit_tag "Buscar" , class:"button small float-right" %> 
      <%= link_to "Limpiar", request.path, :class => "button small float-right" %>                       
    </div>
  <% end %> 
<hr>
<div class="row">
    <ul class="paginate">  
      <%= paginate(@t_sedes) %>
    </ul>      
</div>

<div class="row text-right">
  <%= page_entries_info @t_sedes, :entry_name => 'sedes' %>
  <%= link_to image_tag('excel.png', :border=>1, :alt=>"Exportar", :align=> "right"), current_url(:format=>:csv), :class=>"text-right" %>
</div>

<div class="table-scroll">
  <table>
    <thead class="color-cabecera">
      <tr>
        <th><%= sort_link(@q, :nCodSede, 'Código') %></th>
        <th class="columna-larga"><%= sort_link(@q, :cNombre, 'Sede') %></th>    
        <th class="columna-larga"><%= sort_link(@q, :cDireccion, 'Dirección') %></th>
        <th><%= sort_link(@q, :nCodUni, 'Unidad') %></th>
        <th class="columna-larga"><%= sort_link(@q, :unidad_cDenominacion, 'Unidad') %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @t_sedes.each do |t_sede| %>
        <tr>
          <td><%= link_to t_sede.nCodSede, t_sede, {:class=>'link'} %></td>
          <td><%= t_sede.cNombre %></td>
          <td><%= t_sede.cDireccion %></td>          
          <td><%= t_sede.nCodUni rescue nil %></td>           
          <td><%= t_sede.unidad.cDenominacion rescue nil %></td>  
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <ul class="paginate">
    <%= paginate(@t_sedes) %>
  </ul>
</div>

<div class="row text-right">
  <%= page_entries_info @t_sedes, :entry_name => 'sedes' %>
</div>