<div class="row"> 
  <h3 class="columns">Acrónimos</h3>
</div>

<%= search_form_for @q do |f| %>

  <div class="row">

    <div class="small-3 medium-2 large-1 columns">      
      <%= f.label :cCodigo_cont, 'Código', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-9 medium-3 large-2 columns">
      <%= f.search_field :cCodigo_cont %>
    </div>
  
    <div class="small-3 medium-2 large-5 columns">      
      <%= f.label :buscon_cont, 'Buscar', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-9  medium-5 large-4 columns">
      <%= f.search_field :buscon_cont %>
    </div>

  </div>
          
  <div class="row">

    <div class="small-3 medium-2 large-1 columns">      
      <%= f.label :cDescripcion_cont, 'Descripción', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-9 medium-10  large-11 columns">
      <%= f.search_field :cDescripcion_cont %>
    </div>

  </div>
          
  <br/>

  <div class="row clearfix">    
    <%= submit_tag "Buscar" , class:"button float-right" %> 
    <%= link_to "Limpiar", request.path, :class => "warning button float-right" %>         
    <% if can? :cru, TSede %>
      <%= link_to "Nuevo", new_t_acronimos_sede_edr_path, :class => "button float-right" %>         
    <% end %>    
  </div>

<% end %>

<div class="row">
  <ul class="paginate">
    <%= paginate(@t_AcronimosSedeEdr) %>
  </ul>
</div>

<div class="row text-right">
  <%= page_entries_info @t_AcronimosSedeEdr, :entry_name => 'acrónimos' %>
</div>

<div class="table-scroll">
  <table>
    <thead class="color-cabecera">
      <tr>        
        <th>Ver</th>        
        <th>Editar</th>        
        <th width="25%"><%= sort_link(@q, :cCodigo, 'Código') %></th>
        <th width="80%" ><%= sort_link(@q, :cDescripcion, 'Descripción') %></th> 
      </tr>
    </thead>
    
    <tbody>

      <% @t_AcronimosSedeEdr.each do |t_acronimo| %>
        <tr>
          <td><%= link_to image_tag('ver.png', :border=>0, :alt=>"Ver"), t_acronimo %> </td>

          <td><%= link_to image_tag('editar.png', :border=>0, :alt=>"Editar"),                              edit_t_acronimos_sede_edr_path(t_acronimo) %> </td>
               
          <td><%= t_acronimo.cCodigo %></td>
          <td><%= t_acronimo.cDescripcion %></td>          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <ul class="paginate">
    <%= paginate(@t_AcronimosSedeEdr) %>
  </ul>
</div>

<div class="row text-right">
  <%= page_entries_info @t_AcronimosSedeEdr, :entry_name => 'acrónimos' %>
</div>