<div class="row"> 
  <h3 class="columns ">Informes</h3>
</div>

<div class="row">
<ul class="paginate">
  <%= paginate(@t_informes) %>
</ul>
</div>

<div class="row">
<%= page_entries_info @t_informes, :entry_name => 'informes' %>
</div>


<div class="horizontal-scroll">
<table>
  <thead class="color-cabecera">
    <tr>
      <th>Ver</th>
      <th><%= sort_link(@q, :cDescripcion, 'Descripción') %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @t_informes.each do |t_informe| %>
      <tr>
        <td><%= link_to t_informe.nId, informe_campus_url(id: t_informe.nId) , {:class=>'link'} %></td>        
        <td align="left"><%= t_informe.cDescripcion %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>