<div class="row"> 
    <h3 class="large-4 columns">Electrónica de Red</h3>
</div> 

<div>
  <%= search_form_for @q do |f| %>

    <div class="row">
      <div class="small-12 medium-2 large-2 columns">
        <%= f.label :nCodSede_eq, 'Código Sede' %>
        <%= f.search_field :nCodSede_eq %> 
      </div>    
      <div class="small-12 medium-5 large-5 columns">
        <%= f.label :sede_cNombre_cont, 'Nombre Sede' %>
        <%= f.search_field :sede_cNombre_cont %> 
      </div>
      <div class="small-12 medium-5 large-5 columns">
        <%= f.label :sede_cDireccion_cont, 'Dirección Sede' %>
        <%= f.search_field :sede_cDireccion_cont %> 
      </div>      
    </div>  

    <div class="row">
      <div class="small-12 medium-2 large-2 columns">
        <%= f.label :nCodRack_eq, 'Código Rack'%>
        <%= f.search_field :nCodRack_eq %> 
      </div>                
      <div class="small-12 medium-5 large-5 columns">
        <%= f.label :edrs_cNombre_cont, 'Nombre Electrónica Red'%>
        <%= f.search_field :edrs_cNombre_cont %> 
      </div>                  
      <div class="small-12 medium-5 large-5 columns">
        <%= f.label :edrs_cIPGestion_eq, 'IP Electrónica Red'%>
        <%= f.search_field :edrs_cIPGestion_eq %> 
      </div>      
    </div>        

    <div class="row clearfix" >                 
        <div class="small-12 medium-12 large-12 columns">
            <%= submit_tag "Buscar" , class:"button small float-right" %> 
            <%= link_to "Limpiar", request.path, :class => "button small float-right" %>
        </div>        
    </div>
<% end %>   
                  
<div>
    <div class="small-12 medium-12 large-12 columns">
    <ul class="accordion margin-bottom test" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <% @sedes_racks.each do |sede_rack| %>              
        <% if !sede_rack.nCodSede.nil? %>  
            <% if @primeravez != true %>  
                        <!-- fin ul accordeon rack -->        
                        </ul>
                    <!-- fin div accordeon rack -->            
                    </div>                    
                <!-- fin div accordeon content sede -->            
                </div>
            <!-- fin li accordeon sede -->    
            </li>
            <%else%>    
                <% @primeravez = false %>
            <%end%>    
            <li class="accordion-item" data-accordion-item>          
                <a href="#" class="accordion-title accordionhover"><%= sede_rack.sede.cNombre %></a>
                <div class="accordion-content level1content" data-tab-content >                  
                    <div class="row">
                        <div class="small-4 medium-2 large-2 columns">                    
                            <label for="middle-label"><strong>Código:</strong></label>
                        </div>              
                        <div class="small-4 medium-6 large-6 columns">
                            <td><%= link_to sede_rack.nCodSede, sede_path(sede_rack.nCodSede), {:class=>'link'} %></td>
                        </div> 
                        <div class="small-4 medium-4 large-4 columns">
                            <%= link_to current_url(:format=>:csv, :cod_sede=>sede_rack.nCodSede), class: "float-right", title: 'Exportar a csv' do %>
                                    <i class="fi-page-export-csv large icon"></i><% end %>
                            <% if !sede_rack.sede_edr_photos.nil? %>
                                    <%= link_to edr_foto_url(:cod_sede=>sede_rack.nCodSede), class: "float-right", title: 'Imágenes EdR' do %>
                                    <i class="fi-camera large icon"></i><% end %>                                                         
                            <% end %>     
                            <% if !sede_rack.sede_folder.nil? %>
                                    <%= link_to sede_rack.sede_folder.to_s, target: :_blank, class: "float-right", title: 'Ficheros adjuntos' do %>
                                    <i class="fi-folder large icon"></i><% end %>                         
                            <% end %>                            
                            <% if !sede_rack.sede_edr_map.nil? %>                    
                                    <%= link_to sede_rack.sede_edr_map.to_s, target: :_blank, class: "float-right", title: 'Mapa EdR' do %>
                                    <i class="fi-foundation large icon"></i><% end %>                         
                            <% end %>                           
                         </div>     
                    </div>           
                    <div class="row">                                                   
                        <div class="small-4 medium-2 large-2 columns">                    
                            <label for="middle-label"><strong>Dirección:</strong></label>
                        </div>              
                        <div class="small-8 medium-10 large-10 columns">
                            <label for="middle-label"><%= sede_rack.sede.cDireccion%>, <%= sede_rack.sede.cCodPostal%></label>
                        </div> 
                    </div>
                    </br> 
                    <% if sede_rack.sedeA.lin_dato.activas.length > 0 || sede_rack.sedeB.lin_dato.activas.length > 0%>
                        <label class="" for="middle-label"><strong>Líneas de datos:</strong></label>
                        <div class="table-scroll">
                            <table>
                                <thead class="color-cabecera">
                                    <tr>
                                        <th>Código</th>
                                        <th>Tipo Datos</th>
                                        <th>Sede Origen</th>
                                        <th>Sede Destino</th>
                                    </tr>
                                </thead>                                
                                <tbody>                
                                    <% (sede_rack.sedeA.lin_dato.activas | sede_rack.sedeA.lin_dato.activas).each do |lin_dato| %>
                                        <tr>        
                                            <td><%= link_to lin_dato.nCodLinDatos, lin_dato_path(lin_dato.nCodLinDatos), {:class=>'link'} %></td>          
                                            <td><%= lin_dato.tipo_lin_dato.cDescTipDatos %></td>           
                                            <td><%= lin_dato.sedeA.cNombre %></td>    
                                            <td>
                                                <% if !lin_dato.sedeB.nil? %> 
                                                    <%= lin_dato.sedeB.cNombre %></td>    
                                                <% end %>                                                    
                                            </td>
                                        </tr>                    
                                    <% end %>                
                                </tbody>
                            </table>
                        </div>
                    <% end %> 
                    <!-- Level 2: rack -->
                    <div class="row">
                        <div class="small-6 medium-6 large-6 columns">
                            <label class="text-left" for="middle-label"><strong>Racks:</strong></label>
                        </div>    
                        <!--
                        <div class="small-6 medium-6 large-6 columns text-right">
                            <%= link_to :controller => :rack_edrs, :action => :new , class: "text-right", title: 'Nuevo Rack' do %>                    
                            <i class="fi-plus medium icon"></i>&nbsp;&nbsp;<span style="color:rgb(2, 79, 161)">Nuevo Rack</span>
                        <% end %>                            
                        </div>                                        
                        -->
                    </div>                
                    <div class="row">   
                        <ul class="accordion margin-bottom" data-accordion data-multi-expand="true" data-allow-all-closed="true">                                                   
        <%end%>
                            <%= render 'rack', rack: sede_rack, ip: params[:q]["edrs_cIPGestion_eq"], name: params[:q]["edrs_cNombre_cont"] %>
    <% end %>    
                        <!-- fin ul accordeon rack -->        
                        </ul>
                    <!-- fin div accordeon rack -->            
                    </div>
                <!-- fin div accordeon content sede -->            
                </div>
            <!-- fin li accordeon sede -->    
            </li>    
    <!-- fin ul accordeon sede -->
    </ul>
    </div>
</div>

