<p id="notice"><%= notice %></p>

<h1>Listing T Usuarios Programas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_usuarios_programas.each do |t_usuarios_programa| %>
      <tr>
        <td><%= link_to 'Show', t_usuarios_programa %></td>
        <td><%= link_to 'Edit', edit_t_usuarios_programa_path(t_usuarios_programa) %></td>
        <td><%= link_to 'Destroy', t_usuarios_programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T usuarios programa', new_t_usuarios_programa_path %>
