<div class="row"> 
  <h3 class="columns">Plan de Numeración GSSI</h3>
</div>

<div class="table-scroll">
  <table >
    <thead  class="color-cabecera">
      <tr>      
        <th> <%= sort_link(@g, :nGSSIInicio, 'Inicio') %> </th>
        <th> <%= sort_link(@g, :nGSSIFin, 'Fin') %> </th>
        <th> <%= sort_link(@g, :cFlota, 'Servicio') %> </th>
        <th> <%= sort_link(@g, :nDefinidos, 'Definidos') %> </th>
        <th> <%= sort_link(@g, :nActivos, 'Activos') %> </th>
        <th> <%= sort_link(@g, :nActividadSemana, 'Activos última semana') %> </th>
        <th> <%= sort_link(@g, :nActividadMes, 'Activos último mes') %> </th>
        <th> <%= sort_link(@g, :nActividadSemestre, 'Activos últimos 6 meses') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @v_tetra_plan_gssis.each do |v| %>
        <tr>
          <td><%= v.nGSSIInicio %></td>
          <td><%= v.nGSSIFin %></td>
          <td><%= v.cFlota %></td>
          <td><%= v.nDefinidos %></td>
          <td><%= v.nActivos %></td>
          <td><%= v.nActividadSemana %></td>
          <td><%= v.nActividadMes %></td>
          <td><%= v.nActividadSemestre %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
