<p id="notice"><%= notice %></p>

<h1>Listing T Programas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_programas.each do |t_programa| %>
      <tr>
        <td><%= link_to 'Show', t_programa %></td>
        <td><%= link_to 'Edit', edit_t_programa_path(t_programa) %></td>
        <td><%= link_to 'Destroy', t_programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T programa', new_t_programa_path %>
