<div class="row">
    <div class="small-2 medium-1 large-6 columns">
      <h3>Acrónimos</h3>
    </div>
    <div class="small-2 medium-1 large-6 columns">
    <% if can? :cru, TSede %>
      <%= link_to "Nuevo Acrónimo", new_acronimos_sede_edr_path, :class => "button small float-right"%>                       
    <% end %>
    </div>
</div>


<%= search_form_for @q do |f| %>

  <div class="row">

    <div class="small-3 medium-2 large-1 columns">      
      <%= f.label :acronimos_sede_edr_cont, 'Geslicar', for: "middle-label", class: "text-right" %>
    </div>

    <div class="small-9 medium-3 large-11 columns">
      <%= f.search_field :acronimos_sede_edr_cont %>
    </div>
  </div>
          
  <br/>

  <div class="row" >      
    <div class="small-12 medium-12 large-12 columns">      
      <%= submit_tag "Buscar" , class:"button small float-right" %> 
      <%= link_to "Limpiar", request.path, :class => "button small float-right" %>                       
    </div>
  </div>

<% end %>
<hr>

<div class="row">
  <ul class="paginate">
    <%= paginate @acronimos_sede_edr %>
  </ul>
</div>

<div class="row text-right">
  <%= page_entries_info @acronimos_sede_edr, :entry_name => 'acrónimos' %>
</div>

<div class="table-scroll-horizontal">
  <table>
    <thead class="color-cabecera">
      <tr>           
        <th><%= sort_link(@q, :cCodigo, 'Código') %></th>
        <th><%= sort_link(@q, :cDescripcion, 'Descripción') %></th> 
      </tr>
    </thead>
    
    <tbody>
      <% @acronimos_sede_edr.each do |acronimo| %>
        <tr>
          <td><%= link_to acronimo.cCodigo, acronimo, :class => 'link' %> </td>         
          <td><%= acronimo.cDescripcion %></td>          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <ul class="paginate">
    <%= paginate @acronimos_sede_edr %>
  </ul>
</div>

<div class="row text-right">
  <%= page_entries_info @acronimos_sede_edr, :entry_name => 'acrónimos' %>
</div>