<p id="notice"><%= notice %></p>

<h1>Listing T Acronimos Sede Edrs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_acronimos_sede_edrs.each do |t_acronimos_sede_edr| %>
      <tr>
        <td><%= link_to 'Show', t_acronimos_sede_edr %></td>
        <td><%= link_to 'Edit', edit_t_acronimos_sede_edr_path(t_acronimos_sede_edr) %></td>
        <td><%= link_to 'Destroy', t_acronimos_sede_edr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T acronimos sede edr', new_t_acronimos_sede_edr_path %>
