<%= form_for(@lin_movil) do |f| %>
  <% if @lin_movil.errors.any? %>
    <div class="panel warning callout radius">
      <strong><%= t('activerecord.errors.template.header', :model => Usuario.model_name.human, :count => @lin_movil.errors.count) %></strong>
      <ul>
      <% @lin_movil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row text-right">    
    <%= link_to '<< Volver', lin_moviles_path, :class => "button" %>        
    <%= f.submit 'Guardar', class: 'button' %>        
  </div>

  <%= f.fields_for :linea, @lin_movil.linea do |ff| %>

    <div class="row">
      <div class="small-3 medium-2 large-3 columns">
       <%= ff.label :cNumero, for: 'middle-label' %>      
        <%= ff.text_field :cNumero  %>
      </div>

      <div class="small-3 medium-2 large-3 columns">
        <%= ff.label :cNumCorto, for: 'middle-label' %>      
        <%= ff.text_field :cNumCorto, for: 'middle-label' %>
      </div>
      <div class="small-3 medium-2 large-3 columns">
        <%= f.label :nCodTipMovil, for: 'middle-label' %>
        <%= f.select :nCodTipMovil, options_from_collection_for_select(TipoLinMovil.all, "nCodTipMovil", "cDescTipoMovil", @lin_movil.nCodTipMovil) %>
      </div>
      <div class="small-3 medium-2 large-3 columns">
        <%= ff.label :nCodEstLin, for: 'middle-label' %>      
        <%= ff.select :nCodEstLin, options_from_collection_for_select(EstadosLinea.all, "nCodEstLin", "cDescEstado", @lin_movil.linea.nCodEstLin)  %>      
      </div>
    </div>
    <div class="row">
      <div class="small-3 medium-2 large-3 columns">
        <%= ff.label :dFechaAlta, for: 'middle-label' %>      
        <%= ff.date_field :dFechaAlta, for: 'middle-label' %>
      </div>
      <div class="small-3 medium-2 large-3 columns">
        <%= ff.label :dFechaBaja, for: 'middle-label' %>
        <%= ff.date_field :dFechaBaja, for: 'middle-label' %>
      </div>              
      <div class="small-3 medium-2 large-3 columns">
        <%= f.label :bHorarioExtendido, for: 'middle-label' %>
        <%= f.select :bHorarioExtendido, options_for_select([["",nil],["SÍ",true], ["NO", false]], @lin_movil.bHorarioExtendido)   %>      
      </div>
      <div class="small-3 medium-2 large-2 columns ">
        <%= ff.label :bListadoVIP, for: 'middle-label' %>      
        <%= ff.select :bListadoVIP, options_for_select([["",nil],["SÍ",true], ["NO", false]], @lin_movil.linea.bListadoVIP)   %>      
      </div>      
      </div>
    <div class="row">
      <div class="small-3 medium-2 large-2 columns ">
        <%= f.label :bPrincipal, for: 'middle-label' %>      
        <%= f.select :bPrincipal, options_for_select([["",nil],["SÍ",true], ["NO", false]], @lin_movil.bPrincipal) %>
      </div>
    
      <div class="small-3 medium-2 large-2 columns">
        <%= f.label :cSoloEmergencia, for: 'middle-label' %>      
        <%= f.select :cSoloEmergencia, options_for_select([["",nil],["SÍ",1], ["NO", 0]], @lin_movil.cSoloEmergencia.to_i) %>
      </div>
    </div>

    <ul class="accordion margin-bottom" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Línea</a>
          <div class="accordion-content" data-tab-content>     
              <div class="row">                             
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfil %>              
                  <%= f.select :cPerfil , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfil) %>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfilAutorizado %>                
                  <%= f.select :cPerfilAutorizado , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfilAutorizado) %>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cCoberturaNormativa %>                
                  <%= f.text_field :cCoberturaNormativa  %>
                </div>
              </div>
              <div class="row">                             
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfil %>              
                  <%= f.select :cPerfil , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfil) %>
                </div>
                <div class="small-4 medium-4 large-3 columns">
                  <%= f.label :cUsuarioIntranet %>              
                  <%= f.text_field :cUsuarioIntranet %>
                </div>
                <div class="small-4 medium-4 large-2 columns">
                  <%= f.label :cIPm2m %>              
                  <%= f.text_field :cIPm2m %>
                </div>
              </div>
          </div>
          </li>            
            <%= render 'persona', persona: @lin_movil.persona %>      

        </ul>

  <% end %>
<% end %>
