<li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Línea</a>
          <div class="accordion-content" data-tab-content>     
              <div class="row">                             
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfil %>              
                  <%= f.select :cPerfil , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfil) %>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfilAutorizado %>                
                  <%= f.select :cPerfilAutorizado , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfilAutorizado) %>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cCoberturaNormativa %>                
                  <%= f.text_field :cCoberturaNormativa  %>
                </div>
              </div>

              <div class="row">                             
                <div class="small-4 medium-4 large-4 columns">
                  <%= f.label :cPerfil %>              
                  <%= f.select :cPerfil , options_from_collection_for_select(PerfilesMovil.all, "cPerfil", "cPerfil", @lin_movil.cPerfil) %>
                </div>
              </div>
          </div>
          </li>