
<% if logged_in? %>

<div class="title-bar" data-responsive-toggle="geslico-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle="geslico-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="row expanded">

  <div class="top-bar" id="geslico-menu"> 
    <div class="top-bar-left">
      <ul class="menu horizontal medium-horizontal" data-responsive-menu="drilldown medium-dropdown">           
        <% if can? :read, Sede %>
          <li class="has-submenu">
            <a href="#"><%= t('menu.campus')%></a>
            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to t('menu.sedes'), sedes_path, class: "margin-right" %></li>
              <li><%= link_to t('menu.acronimos'), acronimos_sede_edrs_path, class: "margin-right" %></li>
            </ul>
          </li>
        <% end %>
        
        <% if can? :read, VTetraPlanIssi %>
          <li class="has-submenu">
            <a href="#"><%= t('menu.radio')%></a>
            <ul class="submenu menu vertical" data-submenu>            
              <li><%= link_to t('menu.sites'), radio_sites_path, class: "margin-right" %></li>
              <li><%= link_to t('menu.plan_num'), v_tetra_planes_path, class: "margin-right" %></li>
              <li><a href="#"><%= t('menu.radio')%></a></li>
              <li><a href="#"><%= t('menu.consolas')%></a></li>
              <li><a href="#"><%= t('menu.gssi')%></a></li>              
            </ul>
          </li>
        <% end %>
                
        <li class="has-submenu">
          <a href="#"><%= t('menu.movil')%></a>
          <ul class="submeno menu vertical" data-submenu>            
            <li><%= link_to t('menu.lineas'), lin_moviles_path(:'q[linea_nCodEstLin_eq]' => '0'), class: "margin-right" %></li>
            <li><a href="#"><%= t('menu.terminales')%></a></li>
            <li><a href="#"><%= t('menu.tarjetas')%></a></li>
            <li><a href="#"><%= t('menu.afaria')%></a></li>
            <li><a href="#"><%= t('menu.pedidos')%></a></li>            
            <% if can? :read, ModelosTerminal %> 
              <li><%= link_to t('menu.catalogo'), modelos_terminales_path, class: "margin_right" %></li>
            <% end %>
                        
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#"><%= t('menu.fija')%></a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#"><%= t('menu.lineas')%></a></li>
              <li><a href="#"><%= t('menu.ges_disp')%></a></li>
            </ul>
        </li>

        <li class="has-submenu">
          <a href="#"><%= t('menu.electronica')%></a>
          <ul class="submenu menu vertical" data-submenu>
            <% if can? :read, RackEdr %>
              <li><%= link_to t('menu.electronica_red'), edr_url, class: "margin-right" %></li>
            <% end %>              
            <% if can? :read, Componente %>
              <li><%= link_to  t('menu.inventario'), inventario_url, class: "margin-right" %></li>
              <li><a href="#"><%= t('menu.catalogo')%></a></li>
            <% end %>                
            <li><a href="#"><%= t('menu.reserva_ips')%></a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#"><%= t('menu.datos') %></a>
          <ul class="submenu menu vertical" data-submenu>
              <% if can? :read, LinDato %>
                <li><%= link_to t('menu.lineas'), lin_datos_path, class: "margin_right" %></li>
              <% end %>              
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#"><%= t('menu.informes') %></a>
          <ul class="submenu menu vertical" data-submenu>
            <% if can? :read, Sede %>
              <li><%= link_to t('menu.sedes'), informes_sedes_url, class: "margin-right" %></li>
            <% end %>  
            <% if can? :read, RadioSite %>
              <li><%= link_to t('menu.radio'), informes_radio_url, class: "margin-right" %></li>
            <% end %>              
            <% if can? :read, LinMovil %>
              <li><%= link_to t('menu.lin_moviles'), informes_movil_url, class: "margin-right" %></li>            
            <% end %>
            <% if can? :read, Linea %>
              <li><%= link_to t('menu.lin_fijas'), informes_fija_url, class: "margin-right" %></li>            
            <% end %>  
            <% if can? :read, Edr %>
              <li><%= link_to t('menu.electronica_red'), informes_electronica_url, class: "margin-right" %></li>
            <% end %>  
            <% if can? :read, LinDato %>
              <li><%= link_to t('menu.datos'), informes_datos_url, class: "margin-right" %></li>
            <% end %>  
        </li>             
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <% if can? :read, Usuario %>
        <li><%= link_to t('menu.usuarios'), usuarios_path %></li>
        <% end %>
        <li><%= link_to t('menu.cerrar_sesion'), logout_path, method: "delete" %></li>
      </ul>      
    </div>
   
  </div>  

<% end %>
