
<% if logged_in? %>

<div class="title-bar" data-responsive-toggle="geslico-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="geslico-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="row expanded">

  <div class="top-bar" id="geslico-menu"> 
    <div class="top-bar-left">
      <ul class="menu horizontal medium-horizontal" data-responsive-menu="drilldown medium-dropdown">           
        <% if can? :read, TSede %>
          <li class="has-submenu">
            <a href="#">Campus</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to "Sedes", t_sedes_path, class: "margin-right" %></li>
              <li><%= link_to "Acrónimos", t_acronimos_sede_edrs_path, class: "margin-right" %></li>
            </ul>
          </li>
        <% end %>
        
        <% if can? :read, VTetraPlanIssi %>
          <li class="has-submenu">
            <a href="#">Radio</a>
            <ul class="submenu menu vertical" data-submenu>
            
              <li><%= link_to "Plan de Numeración", v_tetra_planes_path, class: "margin-right" %></li>
              <li><a href="#">Radio</a></li>
              <li><a href="#">Consolas</a></li>
              <li><a href="#">GSSI</a></li>
              <li><a href="#">Sites</a></li>
            </ul>
          </li>
        <% end %>
                
        <li class="has-submenu">
          <a href="#">Móvil</a>
          <ul class="submeno menu vertical" data-submenu>
            <li><a href="#">Líneas</a></li>
            <li><a href="#">Terminales</a></li>
            <li><a href="#">Tarjetas</a></li>
            <li><a href="#">Afaria</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Catálogo</a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">Fija</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">Líneas</a></li>
              <li><a href="#">Gestión de dispositivos</a></li>
            </ul>
        </li>

        <li class="has-submenu">
          <a href="#">Electrónica</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">Almacén</a></li>
            <li><a href="#">Catálogo de Red</a></li>
            <li><a href="#">Reserva Rangos IP</a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">Datos</a>
          <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">Líneas</a></li>              
          </ul>
        </li>

        <li class="has-submenu">
          <a href="#">Informes</a>
          <ul class="submenu menu vertical" data-submenu>
            <% if can? :read, TSede %>
              <li><%= link_to "Sedes", informes_sedes_url, class: "margin-right" %></li>
            <% end %>  
            <% if can? :read, Radio %>
              <li><%= link_to "Radio", informes_radio_url, class: "margin-right" %></li>
            <% end %>              
            <% if can? :read, LineaMovil %>
              <li><%= link_to "Móvil", informes_movil_url, class: "margin-right" %></li>            
            <% end %>
            <% if can? :read, LineaFija %>
              <li><%= link_to "Fija", informes_fija_url, class: "margin-right" %></li>            
            <% end %>  
            <% if can? :read, ElectronicaRed %>
              <li><%= link_to "Electronica", informes_electronica_url, class: "margin-right" %></li>
            <% end %>  
            <% if can? :read, LineaDatos %>
              <li><%= link_to "Datos", informes_datos_url, class: "margin-right" %></li>
            <% end %>  
        </li>             
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        <% if can? :read, TUsuario %>
        <li><%= link_to "Usuarios", t_usuarios_path %></li>
        <% end %>
        <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
      </ul>      
    </div>
   
  </div>
  
<% end %>
