<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Geslico" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <div>
    <%= render 'layouts/header' %>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/flash' %>

    <div id="content" style="padding: 30px;">      
      <%= yield %>        
    </div>
    <%= debug params %>
    <%= render 'layouts/footer' %>
    
  </div>
      <!-- reInitialize Foundation -->
      <script>
        $(document).foundation();
      </script>

  </body>
  
</html>
